<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>MaskProject</display-name>
	<servlet>
		<servlet-name>FrontController</servlet-name>
		<servlet-class>co.mask.common.FrontController1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- board.bo 추가했습니다 -->
	<servlet>
		<description>Controller</description>
		<display-name>BoardController</display-name>
		<servlet-name>BoardController</servlet-name>
		<servlet-class>co.mask.board.web.BoardController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>BoardController</servlet-name>
		<url-pattern>*.bo</url-pattern>
	</servlet-mapping>
	
	
</web-app>